@{
    Layout = "";
}
@{
    const string fullName = "Oren Eini";
    const string email = "oren@ravendb.net";
    const string phone = "+972 52-548-6969";
}
<div class="flex-grow"></div>
<img src="~/Content/images/oren.jpg" class="oren-photo img-center" />
<div class="flex-grow"></div>
<div class="margin-top">
    <span>@fullName</span> <span>aka Ayende Rahien</span>
    <span>
        CEO of <a href="http://www.hibernatingrhinos.com/" class="about-link" target="_blank"><strong> Hibernating Rhinos LTD</strong></a>,
        which develops <a href="http://ravendb.net/" class="about-link" target="_blank"><strong>RavenDB</strong></a>,
        a NoSQL Open Source Document Database.
    </span>
    <div class="rewards margin-top">
        <a class="mvp-profile-horizontal" href="https://mvp.microsoft.com/en-us/PublicProfile/4012807" title="Microsoft MVP Reconnect Oren Eini" target="_blank"></a>
    </div>
</div>
<div class="about-info margin-top">
    <p>You can reach me by:</p>
    <p class="mail"><a href="@string.Format("mailto:{0}", email)">@email</a></p>
    <p class="phone">@phone</p>
    <div class="flex-grow"></div>
</div>