@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3hpy59');
  src:  url('fonts/icomoon.eot?3hpy59#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3hpy59') format('truetype'),
    url('fonts/icomoon.woff?3hpy59') format('woff'),
    url('fonts/icomoon.svg?3hpy59#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-arrow-up:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e916";
}
.icon-chevron-up:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e90e";
}
.icon-chevron-left:before {
  content: "\e90f";
}
.icon-chevron-down:before {
  content: "\e910";
}
.icon-book:before {
  content: "\e912";
}
.icon-time:before {
  content: "\e913";
}
.icon-comment:before {
  content: "\e914";
}
.icon-mail:before {
  content: "\e901";
}
.icon-circle-arrow-right:before {
  content: "\e917";
}
.icon-circle-arrow-left:before {
  content: "\e918";
}
.icon-archive:before {
  content: "\e902";
}
.icon-google:before {
  content: "\e903";
}
.icon-rss:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-facebook-alt:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e915";
}
.icon-tags:before {
  content: "\e919";
}
.icon-tag:before {
  content: "\e91a";
}
.icon-windows:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e911";
}
